.racing-sans-one-regular {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bbh-bogle-regular {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: #ffffff;
    color: rgb(253, 3, 3);
    padding: 10px 0;
    text-align: center;
}

header nav a {
    font-family: 'BBH Bogle', sans-serif;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(224, 14, 14);
    font-weight: bold;
    align-content: center;
    font-size: 25px;
    -webkit-text-stroke: black 0.1px;
}
header nav a:hover {
    text-decoration: underline;
}
header nav {
    vertical-align: middle;
    padding-top: -100px;
    background-color: #000000;
}
header .logo {
    height: 100px;
    width: 180px;
    align-content: center;
    margin-left: 290px;
}
body .background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body .background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

body .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
body .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: rgb(224, 14, 14);
    font-family: 'BBH Bogle', sans-serif;
    z-index: 2;
    -webkit-text-stroke: black 0.1px;
}

body .hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

body .about {
    font-family: 'BBH Bogle', sans-serif;
    color: white;
    padding: 20px;
    background-color: #000000;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
    background-color: #f4f4f4;
    color: red;
    margin: 0;
    padding: 0;
    text-align: center;
}
body h1, body h2, body h3 {
    font-family: 'BBH Bogle', sans-serif;
    color: rgb(255, 0, 0);
}
body .services {
    font-family: 'BBH Bogle', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
body .contact-info {
    font-family: 'BBH Bogle', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    background-color: #000000;
}
body .contact-info .form {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-family: 'BBH Bogle', sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #f4f4f4;
}

body .abouth1 {
    font-family: 'BBH Bogle', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body .abouth1 .text {
    flex: 1;
}body .abouth2 {
    font-family: 'BBH Bogle', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    background-color: #000000;
}
body .abouth3 {
    font-family: 'BBH Bogle', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
body .abouth4 {
    font-family: 'BBH Bogle', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    background-color: #000000;

}
.btn{
    font-family: 'BBH Bogle', sans-serif;
    font-style: None;
    font-size: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn:hover {
    background-color: rgb(200, 0, 0);
}

.abtimg {
    height: 300px;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px;
}   

#membership-type {
    font-family: 'BBH Bogle', sans-serif;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-color: rgb(255, 0, 0);
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-family: 'BBH Bogle', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}